// Colors

$my-black        = hsl(0, 0%, 4%)
$my-black-bis    = hsl(0, 0%, 7%)
$my-black-ter    = hsl(0, 0%, 14%)

$my-grey-darker  = hsl(0, 0%, 21%)
$my-grey-dark    = hsl(0, 0%, 29%)
$my-grey         = hsl(0, 0%, 48%)
$my-grey-light   = hsl(0, 0%, 71%)
$my-grey-lighter = hsl(0, 0%, 86%)

$my-white-ter    = hsl(0, 0%, 96%)
$my-white-bis    = hsl(0, 0%, 98%)
$my-white        = hsl(0, 0%, 100%)

$my-orange       = hsl(14,  100%, 53%)
$my-yellow       = hsl(48,  100%, 67%)
$my-green        = hsl(141, 71%,  48%)
$my-turquoise    = hsl(171, 100%, 37%)
$my-blue         = hsl(217, 71%,  53%)
$my-purple       = hsl(271, 100%, 71%)
$my-red          = hsl(348, 100%, 61%)
$my-pink         = hsl(348, 67%, 58%)

$my-primary      = $my-turquoise
$my-secondary    = $my-pink
$my-danger       = $my-red
$my-success      = $my-green
$my-light        = $my-white-ter
