// Colors

$app-black        = hsl(0, 0%, 4%)
$app-black-bis    = hsl(0, 0%, 7%)
$app-black-ter    = hsl(0, 0%, 14%)

$app-grey-darker  = hsl(0, 0%, 21%)
$app-grey-dark    = hsl(0, 0%, 29%)
$app-grey         = hsl(0, 0%, 48%)
$app-grey-light   = hsl(0, 0%, 71%)
$app-grey-lighter = hsl(0, 0%, 86%)

$app-white-ter    = hsl(0, 0%, 96%)
$app-white-bis    = hsl(0, 0%, 98%)
$app-white        = hsl(0, 0%, 100%)

$app-orange       = hsl(14,  100%, 53%)
$app-yellow       = hsl(48,  100%, 67%)
$app-green        = hsl(141, 71%,  48%)
$app-turquoise    = hsl(171, 100%, 37%)
$app-blue         = hsl(217, 71%,  53%)
$app-purple       = hsl(271, 100%, 71%)
$app-red          = hsl(348, 100%, 61%)
$app-pink         = hsl(348, 67%, 58%)

$app-primary      = $app-turquoise
$app-secondary    = $app-pink
$app-danger       = $app-red
$app-success      = $app-green
$app-light        = $app-white-ter
