#app .app

  &-avatar
    border-radius: 50%

  &-italic
    font-style: italic

  &-underline
    text-decoration: underline

  &-v-spacer
    flex: 1

  &-margin-auto
    margin: auto

.app

  &-noscroll
    overflow: hidden